<div class="login-page">
      
<div class="login-form">
  <div class="font-weight-bold mb-3">管理者ログイン</div>
  <%= form_with model: @admin, url: session_path(resource_name) do |f| %>
        <%= f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email", class: "email" %>
        <%= f.password_field :password, placeholder: "パスワード", autocomplete: "current-password", class: "passward" %>
        <%= f.submit "ログイン", class: "login-btn" %>
  <% end %>
  <%= render "admin/shared/links" %>
  </div>
</div>
<