<div class="login-page">
  <%= form_with model: @user, url: session_path(resource_name) do |f| %>
  <div class="form">
        <%= f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email", class: "email" %>
        <%= f.password_field :password, placeholder: "パスワード", autocomplete: "current-password", class: "passward" %>
        <%= f.submit "ログイン", class: "login-button" %>
  <% end %>
  <%= render "public/shared/links" %>
  </div>
</div>

