<div class="page_title mb-4 pl-3 pr-3">
    会員情報編集
</div>
<div class="error-message">
    <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーメッセージが発生しました
          <ul>
            <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
            <% end %>
          </ul>
    <% end %>
</div>

<div class="form-group ml-5">
<%= form_with model: @user, url: information_update_path, method: :patch, local: true do |f| %>
      <div class="form-group">
        <%= f.label :first_name, "氏名　　　　　　　" %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
        <%= f.text_field :last_name, autocomplete: "last_name" %>
      </div>
  
      <div class="form-group">
        <%= f.label :first_name_kana, "フリガナ　　　　　" %>
        <%= f.text_field :first_name_kana, autocomplete: "first_name_kana" %>
        <%= f.text_field :last_name_kana, autocomplete: "last_name_kana" %>
      </div>
  
      <div class="form-group">
        <%= f.label :nickname, "ニックネーム　      " %>
        <%= f.text_field :nickname, autocomplete: "nickname" %>
      </div>
      
      <div class="form-group">
        <%= f.label :email, "メールアドレス　　" %>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
      
      <div class="form-group">
        <%= f.label :profile_image, "プロフィール画像" %>
        <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>  
      </div>

      <div>
        <%= f.submit "　　編集内容を保存　　", class: "btn btn-success mr-5 ml-5" %>
        <%= link_to "　退会する　", users_unsubcribe_path, class: "btn btn-danger ml-5" %>
      </div>

    
    <% end %>
</div>