<div class="container reg-page">
    <div class="reg-form">
      <div class="h3">会員情報編集</div>
       <%= form_with model: @user, url: information_update_path, method: :patch, local: true do |f| %>
          <div class="error-message">
    <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーメッセージが発生しました
          <ul>
            <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
            <% end %>
          </ul>
    <% end %>
</div>
          <div class="form-group form-inline input-group-sm">
            <span class="col-md-3 text-md-right">プロフィール画像</span>
            <span class="col-md-3"><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></span>
          </div>
          <div class="form-group form-inline input-group-sm">
            <span class="col-md-3 text-md-right">名前(漢字)</span>
            <span class="col-md-3"><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control", placeholder: "(例)山田"  %></span>
            <span class="col-md-3"><%= f.text_field :last_name, autocomplete: "last_name", class: "form-control", placeholder: "(例)太郎" %></span>
		      </div>
		      <div class="form-group form-inline input-group-sm">
            <span class="col-md-3 text-md-right">名前(フリガナ)</span>
            <span class="col-md-3"><%= f.text_field :first_name_kana, autocomplete: "first_name", class: "form-control", placeholder: "(例)ヤマダ"  %></span>
            <span class="col-md-3"><%= f.text_field :last_name_kana, autocomplete: "last_name", class: "form-control", placeholder: "(例)タロウ" %></span>
		      </div>
		      <div class="form-group form-inline input-group-sm">
		        <span class="col-md-3 text-md-right">ニックネーム</span>
            <span class="col-md-3"><%= f.text_field :nickname, autocomplete: "nickname", class: "form-control", placeholder: "(例)ケンタウロス" %></span>
		      </div>
		      <div class="form-group form-inline input-group-sm">
		        <span class="col-md-3 text-md-right">メールアドレス</span>
            <span class="col-md-3"><%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "(例)xxx@ezwe.ne.jp" %></span>
		      </div>
		      <div class="form-group form-inline input-group-sm">
		        <span class="col-md-3 text-md-right">
		          パスワード
		          <% if @minimum_password_length %>
                (<%= @minimum_password_length %> 文字以上)
              <% end %>
            </span>
            <span class="col-md-3"><%= f.password_field :password, autocomplete: "new-password", class: "form-control" %></span>
		      </div>
		      <div class="form-group form-inline input-group-sm">
		        <span class="col-md-3 text-md-right">パスワード(確認用)</span>
            <span class="col-md-3"><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %></span>
            <%= f.submit "変更内容を保存", class: "btn btn-success mr-3 ml-3"  %>
		      </div>
        <% end %>
    </div>
  </div>