 <div class="container mt-3">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 mt-4">
                <h5 class="font-weight-bold ml-3">
                    登録情報　
                    <% if @user == current_user %>
                        <%= link_to "　編集する　", information_edit_path, class: "btn btn-success btn-sm" %>
                    <% end %>
                </h5>
                <div class="card mx-auto mt-3 shadow-lg card_style">
                    <div class="card-body m-2">
                        <div class="row">
                            <div class="d-flex align-items-center">
                                <%= image_tag @user.get_profile_image(100,100) %>
                                <div class="font-weight-bold pl-3"><%= @user.nickname %></div>
                            </div>
                        </div>
                    </div>
                </div>
                <% if @user == current_user %>
                    <div class="row mt-3">
                        <%= link_to "いいね一覧", users_favorites_path, class: "btn btn-info mr-4 ml-3" %>
                        <%= link_to "下書き一覧", draft_path, class: "btn btn-dark" %>
                    </div>
                    <div><%= link_to "コメントした投稿一覧", users_commented_path, class: "btn btn-secondary mr-4 ml-3 mt-2" %></div>
                <% end %>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="row">
                <h5 class="font-weight-bold mt-4 ml-4">投稿一覧</h5>
                <form class="search royalblue mt-4 ml-auto mr-5">
                    <input type="text" action="users/show" name="search" style="height:30px;" placeholder="キーワードを入力">
                    <button type="submit" style="height:30px;"><i class="fa fa-search mb-1"></i></button>
                </form>
            </div>
            <%= render 'public/layouts/post-index', posts: @posts %>
        </div>
    </div>
</div>
