<%= @user.nickname %>さんのマイページ

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="ml-5 mt-2">
    <h5 class="font-weight-bold mb-3">登録情報　<%= link_to "　編集する　", information_edit_path, class: "btn btn-success" %></h5>
    
    <table border="1">
        <tr>
            <td bgcolor="silver" class="pt-2 pb-2 pl-2">氏名</td>
            <td class="pl-2"><%= @user.first_name + "　" + @user.last_name %></td>
        </tr>
        <tr>
            <td bgcolor="silver" class="pt-2 pb-2 pl-2">カナ</td>
            <td class="pl-2"><%= @user.first_name_kana + "　" + @user.last_name_kana %></td>
        </tr>
        <tr>
            <td bgcolor="silver" class="pt-2 pb-2 pl-2">ニックネーム</td>
            <td class="pl-2"><%= @user.nickname %></td>
        </tr>
        <tr>
            <td bgcolor="silver" class="pt-2 pb-2 pl-2">メールアドレス</td>
            <td class="pl-2"><%= @user.email %></td>
        </tr>
    </table>
    
</div>
        </div>
        <div class="col-sm-8">
            <div class="card-list-container">
    <% @posts.each do |post| %>
     <%= link_to post_path(post.id) do %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <div class="card-body">
        <p>ユーザーネーム：<%= post.user.nickname %></p>
        <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>
        <p class="card-text">トレーニングジャンル：<%= post.genre.name %></p>
        <% if post.count.present? %>
          <p class="card-text">回数：<%= post.count %>回</p>
        <% end %>
        <% if post.time.present? %>
          <p class="card-text">時間：<%= post.time %>分</p>
        <% end %>
        <p class="card-text"><%= raw Rinku.auto_link(simple_format(post.body), :urls, 'target="_blank" rel="noopener noreferrer"') %></p>

        <% if post.user == current_user %>
          <%= link_to "削除", post_path(post), method: :delete %>
        <% end %>
    </div>
  
  <div>
  <p>コメント件数：<%= post.post_comments.count %></p>
  <% post.post_comments.each do |post_comment| %>
    <%= post_comment.user.nickname %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_comment_path(post_comment.post, post_comment), method: :delete %>
    <% end %> 
  <% end %>
</div>
 
        </div>
      </div>
    </div>
   <% end %>
        <% end %>
    
</div>


        </div>
         
    </div>
    
</div>
